<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="3.1.3" targetFramework="net462" developmentDependency="true" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net462" />
  <package id="PropertyChanged.Fody" version="2.5.8" targetFramework="net462" />
  <package id="WPF.Core" version="2.0.5" targetFramework="net462" />
  <package id="Z2CardReader" version="1.0.4" targetFramework="net462" />
</packages>